.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-5) var(--space-5);
  transition: opacity 0.2s;
}

.grid > figure:nth-child(5) {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
